<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>QuizWeb</title>
  
</head>
<header>
  <nav id="navbar">
    <div class="logo">
      <a href="//github.com/potatoprogrammer">QuizWeb</a>
    </div>    
    
    <div class="nav-items">
      <div class="container">
      <a href="/home">Home</a>
      </div>      
      <div class="container">
      <a href="//github.com/potatoprogrammer">Contact</a>
      </div>
    </div>

  </nav>
</header>
<main>